body {
    color: darkslategrey;
}
h1 {
    color: #8B0000;
}
h2 {color: RGB(178,34,34) }
body { 
    background: aliceblue
}
h1 { 
    background: black; 
 }
 div {opacity: 0,2;}
   
        
    
    
    
 